{% load socialaccount %}
{% providers_media_js %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>QuestHunt</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

  {% block head_extra %} {% endblock head_extra %}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">QuestHunt</a>
          </div>
          <form class="navbar-form navbar-left"  method="GET" action="">
            <div class="form-group">
              <input type="text" name="q" class="form-control" placeholder="Search for ideas, destinations or anything">
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            {% if user and not user.is_anonymous %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  role="button" aria-haspopup="true" aria-expanded="fase">
                  <img src="{% if user.profile %} {{ user.profile.avatar }} {% else %} {% static 'img/avatar.png' %} {% endif %}" class="img-circle" height="22" width="22">&nbsp; {{ user.get_full_name|default:user.username }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Become a Trip Expert</a></li>
                  <li><a href="#">Expert Dashboard</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Saved Quests</a></li>
                  <li><a href="#">Subscribtions</a></li>
                  <li><a href="#">My Experts</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/accounts/logout">Logout</a></li>
                </ul>
              </li>
            {% else %}
              <li>
                <a href="{% provider_login_url "facebook" method="js_sdk" %}">Login with Facebook</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div id="quests">
        <div class="container">
          <ul class="nav navbar-nav">
            {% for categ in categs %}
            <li><a href="/category/{{categ.slug}}">{{categ.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    <div id="body">
      <div class="container">
        {% block page %}
        {% endblock %}
      </div>
    </div>

    <footer id="footer">
      <div class="container">
        <span>Futuristico Inc &copy; 2016-2017</span>
      </div>
    </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $(".content-markdown").each(function(){
          var content = $(this).text()
          console.log(content)
          var markedContent = marked(content)
          console.log(markedContent)
          $(this).html(markedContent)
        })
      })
    </script>

  </body>
</html>