{% extends 'base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block page %}

<br><br>

<div class="row">
	<div class="col-md-8">
		
		<div class="panel panel-default">
			<div class="panel-body">
				<h1>{{ trip.title}}</h1>
				<hr/>
          		Travel Style: <span class="label label-warning">{{ trip.category }}</span> <br>
          		Countries: <span class="label label-primary">{{ trip.country }}</span> Regions: <span class="label label-default">{{ trip.region }}</span>
          		<br><br>
          		<img src="/media/{{ trip.photo }}" class="img-responsive center-block">
				<p>{{ trip.description | markdown }}</p>
			</div>
		</div>
	</div>

	<div class="col-md-4">
	    <div class="panel panel-default">
		    <div class="panel-body">
		        <img src="{{trip.author.profile.avatar}}" class="img-circle center-block" height="100" width="100">
		        <a href="#"><h4 class="text-center">{{ trip.author.get_full_name }}</h4></a><br>
		        <b>{{ trip.author.profile.followers }} Followers | </b><a href="https://twitter.com/TwitterDev" class="twitter-follow-button" data-show-count="false">Follow Sarah Jones</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		        <hr/>
		        <p>{{ trip.author.profile.about }}</p>
		    </div>
		</div>
		<div class="panel panel-default">
    		<div class="panel-body">
    			<h3>{{ trip.author.profile.price_quick_help }} Quick Help <span class="dropup"><span class="caret"></span></span></h3>
	        	<p>I can help you choose better traveling options, save money, make sure you don't miss something important when visting, and I can introduce you to right people once you're there.</p>
	        	<li> Save up to $300 on bookings</li>
	        	<li> Get the most out of the trip</li>
	        	<li> Meet awesome locals.</li>
	        	<br>
        		<button type="submit" class="btn btn-success btn-block">Get Quick Help</button>
		    </div>
	    </div>
	    <div>
            <div class="panel panel-default">
        		<div class="panel-body">
        			<h3>{{ trip.author.profile.price_full_help }} Full Trip Help <span class="caret"></span></h3>
        			<p>Besides the planning and discovery part, I can help you with info during the trip. From small things like finding a coffee shop, to help you solve special requests.</p>
		        	<li> Save monney on Booking</li>
		        	<li> Get full concierge during the trip</li>
		        	<li> Connect with awesome people.</li>
		        	<br>
	        		<button type="submit" class="btn btn-success btn-block">Get Full Trip Help</button>
        		</div>
  			</div>
	   	</div>
	</div>
</div>

{% endblock page %}