{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}



  <div class="row">
    <div class="jumbotron">
      <h1>Masters</h1>
      <p>Masters can create complex quests, and they can give you one or many rewards after each new quest. Skills can only be gained if you accept and finsih a quest created by a master. </p>
      <p>To become a master you need to visit a location for at least 60 days and at least 3 times. If you are a local you can't be a master. We want to make sure evey master has the traveler eye when creating a quest.</p>
      <p>Every Hero have to pay you if they want to do your quests and learn the skills you're proposing.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Be a Master! Join now!</a></p>
    </div>
  </div>

{% endblock %}