
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Travel Experts on QuestHunt</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <header>
		<h1>Message for travel experts here:</h1>
    </header>



    <section id="download" class="download bg-primary text-center">
      <iframe frameborder="0" width="560" height="315" src="https://app.biteable.com/watch/embed/questhunt-for-experts-ad-1260777/da21e6e5dd65f4ead8eb0cb2f8e90105e394eb58" allowfullscreen="true"></iframe>
    </section>

    <section id="features" class="features">
       <p>Here is the second benefit</p>
    </section>

    <section class="cta">
		<p>the third one here</p>
    </section>

    <section id="contact" class="contact bg-primary">
		<a href="#" class="btn btn-success">Travel experts join here</a>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2016  Futuristico Inc. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>


</body>

</html>