
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Travel Experts on QuestHunt</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

</head>

<body>
	<div class="container">
		<header>
			<br><br><br>
	    </header>

	    <section>
	    	<div class="col-md-6">
	    		<h1>Make Money While Traveling</h1>
	    		<br><br>
	    		<p>Every hero has a master. Give your hero the best advice before his quest. <br>
	    		Learn more watch our 50 seconds video presentation.</p>

	    		<br><br>
	    		<a href="#" class="btn btn-success">Apply now</a>
	    	</div>
	    	<div class="col-md-6">
	    		<iframe frameborder="0" width="560" height="315" src="https://app.biteable.com/watch/embed/questhunt-for-experts-ad-1260777/da21e6e5dd65f4ead8eb0cb2f8e90105e394eb58" allowfullscreen="true"></iframe>
	    	</div>	
	    </section>

	</div>

</body>

</html>