{% extends 'base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block page %}

<br><br>

<div class="row">
	<div class="col-md-8">
		
		<div class="panel panel-default">
			<div class="panel-body">
				<h1>{{ quest.title}}</h1>
				<hr/>
          		Tribes: {% for tribe in tribes %}<span class="label label-warning"><a href="/tribes/{{tribe.slug}}">{{ tribe.name }}</a></span> {% endfor %} <br>
          		Countries: {% for country in countries %}<span class="label label-primary">{{ country.name }}</span> {% endfor %}
          		Regions: {% for region in regions %}<span class="label label-default">{{ region.name }}</span> {% endfor %}
          		Cities: {% for city in cities %}<span class="label label-info"><a href="/destinations/{{city.slug}}">{{ city.name }}</a></span> {% endfor %}
          		<br><br>
          		<img src="/media/{{ quest.cover_image }}" class="img-responsive center-block">
          		<h3>Summary</h3>
          		<p>{{ quest.summary | markdown }}</p>
          		<h3>Quest Description</h3>
          		<p>{{ quest.description | markdown }}</p>
          		<h3>Completion Time</h3>
          		<p>{{ quest.completion_time | markdown }}</p>
          		<h3>Price Estimation</h3>
          		<p>{{ quest.price_description | markdown }}</p>
          		<h3>Rewards</h3>
          		<img src="/media/{{quest.bedge.icon}}" width="100"></img>
          		<p><b>{{ quest.bedge.name}}</b></p>
				<hr>
				{% for rep in tribe_reputation%}
					<p>Reputation earned with {{ quest.tribe_reputation }} tribes</p>
				{% endfor %}
				{% for rep in tribe_reputation%}
					<p>Reputation earned with {{ quest.destination_reputation }}</p>
				{% endfor %}
				<div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-success btn-block">Talk to the Master</button>
					</div>	
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
	    <div class="panel panel-default">
		    <div class="panel-body">
		        <img src="{{quest.author.avatar}}" class="img-circle center-block" height="100" width="100">
		        <a href="/masters/{{quest.author.slug}}"><h4 class="text-center">{{ quest.author.username }}</h4></a>
		        <hr/>
		        <p>{{ quest.author.about }}</p>
		        <button type="submit" class="btn btn-success btn-block">Talk to the Master</button>
		    </div>
		</div>
		<!-- div class="panel panel-default">
    		<div class="panel-body">
    			<h3>Find a mate for this Quest</h3>
	        	<p>This is a list of people willing to do this quest and looking for a mate. The percentege represents the matching score with you.</p>
	        	<br>
		        	<div class="text-center center-block">
		                <div style="display: inline-block"><img src="https://randomuser.me/api/portraits/women/30.jpg" alt="" height="50", weight="50" ><br>92%</div>
		                <div style="display: inline-block"><img src="https://randomuser.me/api/portraits/men/12.jpg" alt="" height="50", weight="50"><br>87%</div>
		                <div style="display: inline-block"><img src="https://randomuser.me/api/portraits/women/33.jpg" alt="" height="50", weight="50"><br>85%</div>
		                <div style="display: inline-block"><img src="https://randomuser.me/api/portraits/men/18.jpg" alt="" height="50", weight="50"><br>83%</div>
		                <div style="display: inline-block"><img src="https://randomuser.me/api/portraits/women/35.jpg" alt="" height="50", weight="50"><br>78%</div>
					</div>
				<br><br>
        		<button type="submit" class="btn btn-success btn-block">Personalize Quest</button>
		    </div>
	    </div -->
	</div>
</div>

{% endblock page %}