{% extends 'base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block page %}

<br><br>

<div class="row">
	<div class="col-md-8">
		
		<div class="panel panel-default">
			<div class="panel-body">
				<h1>{{ quest.title}}</h1>
				<hr/>
          		Travel Style: {% for category in categories %}<span class="label label-warning">{{ category.name }}</span> {% endfor %} <br>
          		Countries: {% for country in countries %}<span class="label label-primary">{{ country.name }}</span> {% endfor %}
          		Regions: {% for region in regions %}<span class="label label-default">{{ region.name }}</span> {% endfor %}
          		Cities: {% for city in cities %}<span class="label label-info">{{ city.name }}</span> {% endfor %}
          		<br><br>
          		<img src="/media/{{ quest.cover_image }}" class="img-responsive center-block">
          		<h3>Quest Details</h3>
          		<p>{{ quest.summary | markdown }}</p>
				<p>{{ quest.content | markdown }}</p>
				<hr>
				<div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-info btn-block">Save this quest</button> 
					</div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-success btn-block">Accept this quest $19</button>
					</div>	
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
	    <div class="panel panel-default">
		    <div class="panel-body">
		        <img src="{{quest.author.avatar}}" class="img-circle center-block" height="100" width="100">
		        <a href="#"><h4 class="text-center">{{ quest.author.user.get_full_name }}</h4></a>
		        <hr/>
		        <p>{{ quest.author.about }}</p>
		        <a href="/masters/{{quest.author.slug}}" class="btn btn-success btn-block">Get Quick Help</a>
		    </div>
		</div>
		<div class="panel panel-default">
    		<div class="panel-body">
    			<h3>Find a mate for this Quest</h3>
	        	<p>This is a list of people willing to do this quest and looking for a mate. The percentege represents the matching score with you.</p>
	        	<br>
		        	<div class="text-center center-block">
		                <div style="display: inline-block"><img src="https://randomuser.me/api/portraits/women/30.jpg" alt="" height="50", weight="50" ><br>92%</div>
		                <div style="display: inline-block"><img src="https://randomuser.me/api/portraits/men/12.jpg" alt="" height="50", weight="50"><br>87%</div>
		                <div style="display: inline-block"><img src="https://randomuser.me/api/portraits/women/33.jpg" alt="" height="50", weight="50"><br>85%</div>
		                <div style="display: inline-block"><img src="https://randomuser.me/api/portraits/men/18.jpg" alt="" height="50", weight="50"><br>83%</div>
		                <div style="display: inline-block"><img src="https://randomuser.me/api/portraits/women/35.jpg" alt="" height="50", weight="50"><br>78%</div>
					</div>
				<br><br>
        		<button type="submit" class="btn btn-info btn-block">Find a mate $20</button>
		    </div>
	    </div>
	</div>
</div>

{% endblock page %}