{% extends 'base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block page %}

<br><br>

<div class="row">
	<div class="col-md-8">
		
		<div class="panel panel-default">
			<div class="panel-body">
				<h1>{{ quest.title}}</h1>
				<hr/>
          		Travel Style: {% for category in categories %}<span class="label label-warning">{{ category.name }}</span> {% endfor %} <br>
          		Countries: {% for country in countries %}<span class="label label-primary">{{ country.name }}</span> {% endfor %}
          		Regions: {% for region in regions %}<span class="label label-default">{{ region.name }}</span> {% endfor %}
          		Cities: {% for city in cities %}<span class="label label-info">{{ city.name }}</span> {% endfor %}
          		<br><br>
          		<img src="/media/{{ quest.cover_image }}" class="img-responsive center-block">
				<p>{{ quest.content | markdown }}</p>
			</div>
		</div>
	</div>

	<div class="col-md-4">
	    <div class="panel panel-default">
		    <div class="panel-body">
		        <img src="{{quest.author.avatar}}" class="img-circle center-block" height="100" width="100">
		        <a href="#"><h4 class="text-center">{{ quest.author.user.get_full_name }}</h4></a>
		        <hr/>
		        <p>{{ quest.author.about }}</p>
		        <a href="/masters/{{quest.author.slug}}" class="btn btn-success btn-block">Get Quick Help</a>
		    </div>
		</div>
		<div class="panel panel-default">
    		<div class="panel-body">
    			<h3>Subscribe to {{quest.author.user.get_full_name }}<span class="dropup"><span class="caret"></span></span></h3>
	        	<p>Subscribers: {{ quest.author.subscribers}}</p>
	        	<br>
	        	<p>We will notify you every time {{quest.author.user.get_full_name }} will quest something new on QuestHunt</p>
        		<button type="submit" class="btn btn-info btn-block">Subscribe</button>
		    </div>
	    </div>
	</div>
</div>

{% endblock page %}