{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}



  <div class="row">
  <div class="jumbotron">
    <h1>Quests</h1>
    <p>We think every trip should have a meaning. You visit a new place to transform yourself and become a better person. Traveling is not only about stering at touristic atractions or relaxing on the beach, is also a learning and transformational experience.</p>
    <p>With every quest you solve on quest hunt you can learn at least one skill, and if you visit a new place, you can choose what type of skills you want to have after that trip.</p>
    <p>Quests and skills are create only by masters, they are real people, validated by us, so you can make sure they know a lot of things about the place where they are masters and they can also give you advice if you accept their quests.</p>
    <p>Others heroes can give you a lot of options about what you should do in a new place, but remember, if you want to have new skills, this can be done only if you accept the masters quests.</p>
  </div>
    {% for quest in quests %}
      <div class="col-md-3">
        <div class="thumbnail">
          <a href="{{ quest.slug }}"><img src="/media/{{ quest.cover_image }}"></a>
          <div class="caption">
            <a href="{{ quest.slug}}"><h4>{{ quest.title }}</h4></a>
            <p>{{ quest.summary}}</p>
            <p><button type="submit" class="btn btn-info btn-block">Take this Quest</button> </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}