{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}


  <div class="row">
  	<div class="col-md-12">
      <!-- img src="/media/{{ current_destination.cover_image }}" class="banner" -->
    </div>
    <div class="jumbotron">
      <h3>Things to do in {{current_destination.name}}</h3>
	  <p>{{ current_destination.description }} </p>
      <!-- p>Subscribers: {{current_destination.subscribers.count}}</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Subscribe</a></p>
    </div -->
    </div>
    <h3>Quests you can do in your trip in Majorca</h3>
    {% for quest in quests %}

      <div class="col-md-3">
        <div class="thumbnail">
          <a href="{{ quest.get_absolute_url }}"><img src="/media/{{ quest.cover_image }}"></a>
          <div class="caption">
            <h4><a href="{{ quest.get_absolute_url }}">{{ quest.title }}</a></h4>
            <p>{{ quest.summary }}</p>
            <button type="submit" class="btn btn-success btn-block">Solve this Quest</button>
          </div>
        </div>
      </div>
    {% endfor %}


{% endblock %}
