  {% extends 'base.html' %}
{% load staticfiles %}

{% block page %}



  <div class="row">
  <div class="jumbotron">
    <h1>Destinations</h1>
    <p>A good way to start a trip is to search for a destination first. Once you have one in mind, we can show you what quests you can do in that destination, of course based on your tribe preference.</p>
  </div>
    {% for destination in destinations %}
      <div class="col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <p><a href="{{ destination.slug}}">{{ destination.name }}</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}