{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}



  <div class="row">
  <div class="jumbotron">
    <h1>Tribes</h1>
      <p>Everyone has his own traveling style, we know. It was hard to create some large groups of style where heroes can fing a common ground with other heroes or with other masters.</p>
      <p>Go and see the tribes and join the one you think are the best fit for your travel style.</p>
  </div>
    
    {% for tribe in tribes %}
      <div class="col-md-3">
        <div class="thumbnail">
          <a href="{{ tribe.slug }}"><img src="/media/{{ tribe.cover_image }}"></a>
          <div class="caption">
            <a href="{{ tribe.slug}}"><h4>{{ tribe.name }}</h4></a>
            <p>{{ tribe.description}}</p>
            <p>Members: {{tribe.members.count }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}