{% extends 'base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block page %}

<br><br>
<div class="row">
	<div class="col-md-8">
		<div>
			<h1>{{profile.user.get_full_name }}</h1>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/b18gRx0dRfk" frameborder="0" allowfullscreen></iframe>
			<hr>
			<img src="{{ profile.avatar }}" alt="" width="100" height="100"> <br>
			<p>{{profile.about}}</p>
			<hr>
			<p>Countries Visited: USA(6), China(5), UK(4), Spain(4), Portugal(3), Cambodia(1) <br>
			Cities visited: New York(12), San Francisco (10), Palma de Mallorca(11) <a href="#">view all</a><br>
			Regions Visited: Europe(65), Africa(12)</p>
			<hr>
			<p>Travel Style: <span class="label label-warning">Backpacking</span></p>
		</div>
		<br><br>
		<div>
			{% for post in posts %}
		      <div class="col-md-3">
		        <div class="thumbnail">
		          <a href="{{ post.get_absolute_url }}"><img src="/media/{{ post.cover_image }}"></a>
		          <div class="caption">
		            <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
		          </div>
		        </div>
		      </div>
		    {% endfor %}
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
    		<div class="panel-body">
    			<h3>${{ profile.gig.price}} Quick Help <span class="dropup"><span class="caret"></span></span></h3>
	        	<p>{{ profile.gig.description }}</p>
	        	<li> {{ profile.gig.value_one }}</li>
	        	<li> {{ profile.gig.value_two }}</li>
	        	<li> {{ profile.gig.value_three }}</li>
	        	<br>
        		<button type="submit" class="btn btn-success btn-block">Get Quick Help</button>
		    </div>
	    </div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
    		<div class="panel-body">
    			<h3>Subscribe to {{profile.user.get_full_name }}<span class="dropup"><span class="caret"></span></span></h3>
	        	<p>{{ profile.subscribers }}</p>
	        	<br>
	        	<p>We will notify you every time {{profile.user.get_full_name }} will post something new on QuestHunt</p>
        		<button type="submit" class="btn btn-info btn-block">Subscribe</button>
		    </div>
	    </div>
	</div>
</div>

{% endblock page %}