{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}



  <div class="row">

    <div class="col-md-12">
      <img src="/media/{{ current_categ.cover_image }}" class="banner">
    </div>
    <div class="jumbotron">
      <h3>{{current_categ.name}}</h3>
      <p>{{current_categ.description}}</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Subscribe</a></p>
    </div>
    {% for post in posts %}
      <div class="col-md-3">
        <div class="thumbnail">
          <a href="{{ post.get_absolute_url }}"><img src="/media/{{ post.cover_image }}"></a>
          <div class="caption">
            <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}