{% extends 'base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block page %}

<br><br>

<div class="row">
	<div class="col-md-8">
		
		<div class="panel panel-default">
			<div class="panel-body">
				<h1>{{ post.title}}</h1>
				<hr/>
          		Travel Style: <span class="label label-warning">{{ post.category }}</span> <br>
          		Countries: <span class="label label-primary">{{ post.country }}</span> Regions: <span class="label label-default">{{ post.region }}</span>
				<b>{{ post.author.subscribers }} Subscribers | </b> <button type="submit" class="btn btn-info btn-small">Subscribe</button>
          		<br><br>
          		<img src="/media/{{ post.cover_image }}" class="img-responsive center-block">
				<p>{{ post.content | markdown }}</p>
			</div>
		</div>
	</div>

	<div class="col-md-4">
	    <div class="panel panel-default">
		    <div class="panel-body">
		        <img src="{{post.author.avatar}}" class="img-circle center-block" height="100" width="100">
		        <a href="#"><h4 class="text-center">{{ post.author.user.get_full_name }}</h4></a>
		        <hr/>
		        <p>{{ post.author.about }}</p>
		        <a href="/experts/{{post.author.slug}}" class="btn btn-success btn-block">Get Quick Help</a>
		    </div>
		</div>
	</div>
</div>

{% endblock page %}